.h1{
    background-color: red;
    text-align: center;
    border: 20px;
    margin-top: 10px;
}
.h2 {
    background-color: chocolate;
    text-align: center;
    border: 20px;
    margin-top: 10px;
}
.footer{
    border: 100px;
    background-color:blueviolet ;
    text-align: center;
    height: 50px;
}